{% extends 'base.html.twig' %}

{% block title %}Hello LectureController!{% endblock %}

{% block body %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Add new lecture</div>
                <div class="card-body">
                    <div class="example-wrapper">
                        <form action="{{path('lecture_store')}}" method="POST">
                            <div class="form-group">
                                <label>Lecture name:</label>
                                <input type="text" class="form-control" name="lecture_name">
                            </div>
                            <div class="form-group">
                                <label>Lecture description:</label>
                                <textarea type="text" id="summernote" class="form-control" name="lecture_description"></textarea>
                            </div>
                            <input type="hidden" name="token" value="{{csrf_token('')}}"/>
                            <button type="submit" class="btn btn-dark">Add new Lecture</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
