{% extends 'base.html.twig' %}

{% block title %}Hello LectureController!{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
               <div class="card-header">Lectures edit</div>

                <div class="card-body">
                    <div class="example-wrapper">
                        <form action="{{path('lecture_update', {id: lecture.id})}}" method="POST">
                        <div class="form-group">
                                <label>Lecture name:</label>
                                <input type="text" class="form-control" name="lecture_name" value="{{lecture.name}}">
                        </div>
                        <div class="form-group">
                                <label>Lecture description:</label>
                                <textarea type="text" class="form-control" id="summernote" name="lecture_description">{{lecture.description}}</textarea>
                        </div>
                            <button type="submit" class="btn btn-dark">Edit Lecture</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
