{% extends 'base.html.twig' %}

{% block title %}Lecture list{% endblock %}

{% block body %}


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Lectures</div>

                <div class="card-body">
                    <div class="example-wrapper">
                    
                        {% for lectures in lecture %}
                        <li class="list-group-item">
                                <h5>{{lectures.name}}</h5>
                                <p>{{lectures.description}}</p>

                            <div class="list-group-item__line__buttons">
                                <a href="{{ path('lecture_edit', {id: lectures.id}) }}" class="btn btn-success">EDIT</a>
                                <form action="{{ path('lecture_delete', {id: lectures.id}) }}" method="POST">
                                    <button type="submit" class="btn btn-danger">DELETE</button>
                                </form>
                            </div>
                        </li>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
