{% extends 'base.html.twig' %}

{% block title %}Hello LectureController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <ul>
    {% for lectures in lecture %}
        <li>{{lectures.name}}</li>
        {{lectures.description}}
    <a href="{{ path('lecture_edit', {id: lectures.id}) }}">EDIT</a>
    <form action="{{ path('lecture_delete', {id: lectures.id}) }}" method="POST">
        <button type="submit">DELETE</button>
    </form>
    {% endfor %}
    </ul>
</div>
{% endblock %}
